<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
		
	</head>
	<body>
		<div class="indexPage">
			<div class="index-ad"><img src="../assets/images/4.jpg" alt="" />
				<div class="index-nav">
					<img src="../assets/images/logo2.png" />
					<span class="login"><a href="">登录</a></span>
					<ul class="navlists">
						<li class="navlist active"><a href="">首页</a></li>
						<li class="navlist "><a href="visual-index" class="">数据可视化分析</a></li>
						<li class="navlist"><a href="view">视图缓存</a></li>
						<li class="navlist"><a href="visual-report">HTML5报告</a></li>
						<li class="navlist"><a href="">使用指南</a></li>
					</ul>
				</div>
			</div>
			<div class="index-datatype">
				<h1>数据支撑</h1>
				<div class="datatype-list">
					<img src="../assets/images/platform.png"/>
					<p>基于开源框架的大数据平台</p>
				</div>
				<div class="datatype-list">
					<img src="../assets/images/1.png"/>
					<p>互联网、移动互联数据</p>
				</div>
				<div class="datatype-list">
					<img src="../assets/images/2.png"/>
					<p>电信数据</p>
				</div>
			</div>
			<div class="index-content">
				<h1>平台案例</h1>
				<a href="PhonePro" target="_blank"><div class="content-list">
					<div class="list-title title1">
						<span>手机病毒挖掘（西门子）</span>
						
					</div>
					<div class="list-detail">
						<img src="../assets/images/p.png"/>
						<span>基于特征集针对网络流量数据进行手机病毒挖掘，旨在研发手机病毒数据挖掘引擎，
							维护网络安全。</span>
					</div>
				</div></a>
				<a href="ThingNet" target="_blank"><div class="content-list ">
					<div class="list-title title2"><span>物联网数据可视化</span></div>
					<div class="list-detail">
						<img src="../assets/images/n.png"/>
						<span>以农产品生产履历数据处理与服务系统为例，本系统基于GIS进行地块管理，多维可根据农产品特性扩展定制...</span>
					</div>
				</div></a>
				<a href="Library" target="_blank"><div class="content-list">
					<div class="list-title title3"><span>馆藏资源可视化</span></div>
					<div class="list-detail">
						<img src="../assets/images/g.png"/>
						<span>图书馆藏评估系统用于分析图书馆的文献分布和利用情况，通过多维度、多属性指标统计的可视化呈现...</span>
					</div>
				</div></a>
				<a href="NetOpt" target="_blank"><div class="content-list">
					<div class="list-title title4"><span>网络优化数据挖掘</span></div>
					<div class="list-detail">
						<img src="../assets/images/l.png"/>
						<span>网络优化数据挖掘系统面向网优维护和业务发展的实际场景进行开发设计，以用户服务为中心，精细化网络运营...</span>
					</div>
				</div></a>
			</div>
			<div class="index-footer">
				<div class="footer-info">
					<div class="info-title">
						<p>欢迎与我们取得联系，我们也非常期待与企业、开发者和高效合作研发产品。</p>
						<p>联系地址：北京邮电大学科研楼817/802</p>
						<p>联系电话：13810346286</p>
					</div>
				</div>
				<footer>Copyright 2016 . All Rights Reserved.</footer>
			</div>
			
		</div>
	</body>
</html>
