<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../assets/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/css/index.css"/>
		<link rel="stylesheet" href="../assets/css/netopt.css" />
		<link rel="stylesheet" href="../assets/css/bigdata.css" />
	</head>
	<body>
		<div class="visual-header">
			<div class="header-logo">
				<img class="logoimg" src="../assets/images/logo2.png" alt="logo">
				<h1 class="logo-text">大数据可视化平台</h1>
			</div>
			<div class="header-navlists">
				<ul class="navlists clearfix">
					 <li class="navlist active"><a href="index">首页</a></li>
				   <li class="navlist"><a href="visual-index">数据可视化分析</a></li>
				   <li class="navlist"><a href="view">视图缓存</a></li>
				   <li class="navlist"><a  href="visual-report"> HTML5报告 </a></li>
					<li class="navlist"><a href="developer">开发者</a></li>
				</ul>
			</div>
			
		</div>
		<div class="main-container">
			<div class="wrap-one">
				<div class="wrap-one-content clearfix">
					<div class="img-wrap-one">
						<img src="../assets/images/l.png"/>
					</div>
					<div class="content-wrap-one">
						<span>网络优化数据挖掘<small>Network optimization and data mining</small></span>
						<p>网络优化数据挖掘系统面向网优维护和业务发展的实际场景进行开发设计，以用户服务为中心，精细化网络运营管理，深化电信数据应用，为及时高效地解决网络故障、进行业务开展带来新途径。</p>
					</div>
				</div>
			</div>
			<div class="wrap-two">
				<div class="wrap-two-content clearfix">
					<div class="img-wrap-two ">
						<img src="../assets/images/xinlin.jpg"/>
					</div>
					<div class="content-wrap-two">
						<span>1.信令监控分析</span>
						<li>在网络挖掘分析系统中，基于A口信令数据和Abis口MR数据，进行信令解码,实现掉话的实时发现和用户掉话实时报告功能</li>
						<li>关联信令数据和MR数据，利用MR数据进行定位，得到用户掉话的地理位置并进行地理呈现，对掉话区域进行分析</li>
						<li>将信令数据和MR数据关联，对掉话时的载波质量性能特性进行综合分析</li>
						<p>运营商通过该模块可以及时掌握用户在掉话方面的客户感知情况及位置，使客服人员在提前掌握相关信息地情况下能更好地提供服务，提高客户满意度；使网络运维人员在网络优化时能及时采取措施对网络进行改善覆盖等的优化，并为网络规划中载波相关参数设置提供依据。</p>
					</div>
				</div>		
			</div>
			<div class="wrap-three">
				<div class="wrap-three-content clearfix">
					<div class="img-wrap-three">
						<img src="../assets/images/sms2.jpg"/>
					</div>
					<div class="content-wrap-three">
						<span>2.用户行为分析</span>
						<li>按时间维度、地理维度进行多维分析，灵活地跟据用户需求对不同地理粒度（小区/服务厅/分公司）时间粒度（日/月/年）的短信量、彩信量进行分布分析、涨幅趋势分析和占比分析呈现</li>
						<li>统计分析某区域内指定号段的用户数，对一段时间和地理范围内四个品牌的占比进行呈现</li>
					</div>
				</div>
			</div>
			<div class="wrap-four">
				<div class="wrap-four-content clearfix">
					<div class="img-wrap-four">
						<img src="../assets/images/zaibo.jpg"/>
					</div>
					<div class="content-wrap-four">
						<span>3.载波健康检查</span>
						<p>载波隐形故障将导致设备性能下降，影响设备正常运行指标，更严重的将导致设备无法正常工作，指标恶化，引起用户投诉，给公司品牌造成一定的影响。</p>
					</div>
				</div>
			</div>
			<div class="wrap-five">
				<div class="wrap-five-content clearfix">
					<div class="img-wrap-five">
						<img src="../assets/images/dingwei.jpg"/>
					</div>
					<div class="content-wrap-five">
						<span>4.用户定位分析</span>
						<p>本新型移动台定位方案利用终端向基站上报的测量报告数据，获得服务小区和邻小区号，从服务小区和邻小区收到信号的接收电平等信息，结合实际小区的基站功率和定位模型，根据手机到服务基站和2个邻基站的距离，计算移动终端位置。</p>
					</div>
				</div>
			</div>
			<div class="wrap-six">
				<div class="wrap-six-content clearfix">
					<div class="img-wrap-six">
						<img src="../assets/images/mr.jpg"/>
					</div>
					<div class="content-wrap-six">
						<span>5.MR数据地理化呈现</span>
						<p>MR数据中包含各通话的上下行电平、上下行质量等数据，本模块将结合本系统的移动台定位原理，实现MR数据的地理化呈现，可以协助维护、优化人员了解弱信号区域。
弱信号覆盖反映了网络布局的漏洞，弱信号覆盖区域容易引发用户通话掉话， 掉话情况反映了系统业务的通信保持能力，是用户直接感受的重要性能指标之一，本模块利于优化网络，保障用户通话质量。<br>
(右图是处理完后在地图上呈现的某区范围内的信号覆盖状况，红色区域是覆盖盲区，淡绿区时覆盖比较弱的区域，其他为正常区域。)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="index-footer">
				<div class="footer-info">
					<div class="info-title">
						<p>欢迎与我们取得联系，我们也非常期待与企业、开发者和高效合作研发产品。</p>
						<p>联系地址：北京邮电大学科研楼817/802</p>
						<p>联系电话：13810346286</p>
					</div>
				</div>
				<footer>Copyright 2016 . All Rights Reserved.</footer>
		</div>
	</body>
</html>
