<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据可视化报告</title>
	<script type="text/javascript" src="../assets/scripts/seajs/sea.js" id="seajsnode"></script>
	<script type="text/javascript">
		seajs.config({
			alias:{
				"jquery": "jquery/jquery.min.js",
				"d3": "util/d3.min.js",
				"echarts": "util/echarts.min.js",
				"d3.layout.cloud": "util/d3.layout.cloud.js",
				"bootstrap": "bootstrap/bootstrap.min.js"
			}
		});
		seajs.use("visual-report.js");

	</script>
</head>
<body>
	<div class="page-report">
		<!--  -->
		<div class="visual-header">
			<div class="header-logo">
				<img class="logoimg" src="../assets/images/logo2.png" alt="logo">
				<h1 class="logo-text">网络数据与可视化平台</h1>
			</div>
			<div class="login">
		   		<img class="navlist-img" src="../assets/images/user.png" alt="">
		   		<span class="username">username</span>
		   		| <a class="logout" href="login">退出</a>
			</div>
			<div class="header-navlists">
				<ul class="navlists clearfix">
					<li class="navlist"><a href="index">首页</a></li>
				   <li class="navlist "><a href="visual-index">数据可视化分析</a></li>
				   <li class="navlist "><a href="view">视图缓存</a></li>
				  	<li class="navlist active "><a href="#"> HTML5报告 </a></li>
					<li class="navlist"><a href="developer">开发者</a></li>
				</ul>
			</div>
		</div>

		<div class="report">
			<div class="panel panel-default report-main" >
				<div class="panel-heading">
					<h3 class="panel-title">
						可视化报告
					</h3>
				</div>
				<div class="panel-body">
					<div class="table-container"></div>
				</div>
			</div>
		</div>
		<!--  -->
	</div>
</body>
</html>